@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	scroll-behavior: smooth;
}

p 
{
	font-weight: 300;
	color: #111;
}

body 
{
	min-height: 1000px;
	background: #fff;	
}

section 
{
	padding: 100px;
}

.banner 
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./images/montain.jpg);
	background-size: cover;
}

.banner .content 
{
	max-width: 900px;
	text-align: center;
}

.banner .content h2 
{
	font-size: 5em;
	color: #fff;
}

.banner .content p 
{
	font-size: 1em;
	color: #fff;
}

header 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition-property: background;
	transition-duration: 0.5s;
}

header .logo 
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header .logo span 
{
	color: #ff0157;
}

header .navigation 
{
	position: relative;
	display: flex;
}

header .navigation li 
{
	list-style: none;
	margin-left: 30px;
}

header .navigation a 
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

header .navigation a:hover 
{
	color: #e1e;
} 

.sticky 
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo 
{
	color: #222;
}

.sticky .navigation li a 
{
	color: #222;
}

.sticky .navigation li a:hover 
{
	color: #d2d;
}

.row 
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.row .col50 
{
	position: relative;
	width: 48%;
}

.titleText 
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.titleText  span 
{
	color: #ff0157;
	font-weight: 700;
	font-size: 1.5em;
}

.row .col50 .img8x 
{
	position: relative;
	width: 100%;
	height: 400px;
}

.row .col50 .img8x img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.projects .title 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projects .content 
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.projects .content .box 
{
	width: 300px;
	height: 300px;
	margin: 20px;
	border: 15px solid #fff;
	border-radius: 5px;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.projects .content .box .img8x 
{
	position: relative;
	width: 100%;
	height: 85%;
}

.projects .content .box .img8x img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.projects .content .box .text 
{
	padding: 15px 0 5px;
}

.projects .content .box .text h3 
{
	font-weight: 400;
	color: #222;
}

.contact
{
	background: linear-gradient(to bottom left, #726a95, #c3aed6);
	background-size: cover;
}

.contactForm 
{
	position: relative;
	max-width: 400px;
	padding: 75px 50px;
	background: #fff;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
	margin-top: 50px;
	border-radius: 5px;
}

.contactForm h3 
{
	color: #111;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}

.contactForm .inputBox 
{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea	 
{
	width: 100%;
	border: 1px solid #666;
	padding: 10px;
	margin-bottom: 5px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}

.contactForm .inputBox input[type='submit'] 
{
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}

.copyrightText 	
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.copyrightText p 
{
	color: #333;
}

@media (max-width: 991px)
{
	header,
	header.sticky
	{
		padding: 10px 20px;
	}

	header .navigation
	{
		display: none;	
	}

	header .navigation.active
	{
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}

	header .navigation li
	{
		margin-left: 0;
	}

	header .navigation li a
	{
		color: #111;
		font-size: 1.6em;
	}

	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(./images/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}

	.menuToggle.active
	{
		background: url(./images/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}

	header.sticky .menuToggle
	{
		filter: invert(1);	
	}

	section
	{
		padding: 20px;
	}

	.banner .content h2
	{
		font-size: 3em;
		color: #fff;
	}

	.row
	{
		flex-direction: column;
	}
	
	.row .col50
	{
		position: relative;
		width: 100%;
	}


	.row .col50 .img8x
	{
		height: 300px;
		margin-top: 20px;
	}

	.projects .content
	{
		margin-top: 20px;
	}

	.projects .content .box 
	{
		height: 280px;
		margin: 10px;
	}

	.projects .content .box .img8x 
	{
		height: 85%;
	}

	.contactForm
	{
		padding: 35px 40px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px)
{
	.banner .content h2
	{
		font-size: 2.2em;
		color: #fff;
	}
}
