.banner 
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/nightsky.png);
	background-size: cover;
}

.banner .content 
{
	max-width: 900px;
	text-align: center;
}

.banner .content h2 
{
	font-size: 5em;
	color: #fff;
}

.banner .content p 
{
	font-size: 1em;
	color: #fff;
}

header 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition-property: background;
	transition-duration: 0.5s;
}

header .logo 
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header .logo span 
{
	color: #8f243d;
}

header .navigation 
{
	position: relative;
	display: flex;
}

header .navigation li 
{
	list-style: none;
	margin-left: 30px;
}

header .navigation a 
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

header .navigation a:hover 
{
	color: #e1e;
} 

.sticky 
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo 
{
	color: #222;
}

.sticky .navigation li a 
{
	color: #222;
}

.sticky .navigation li a:hover 
{
	color: #d2d;
}
